global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]
{%- if stack is defined %}
{% for svc in stack.services %}
  - job_name: "{{ svc.artifact_id }}"
    metrics_path: /actuator/prometheus
    static_configs:
      - targets: ["{{ svc.artifact_id }}:{{ svc.app_port }}"]
{%- endfor %}
{%- endif %}
